<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header">
<body>
<div th:insert="fragments/nav :: navbar"></div>

<br>
    <h1>New Register</h1>
<br>

<div class="container">
    <div class="row">
        <div class="col">
            <form action="#">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Movie :</label>
                    <input type="text" class="form-control" id="movieFind">

                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col">

        </div>
    </div>
</div>

<br>

<div class="container">
    <h2>Form Movie Response</h2>
    <div class="row">
        <div class="col">
            <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled>
        </div>
    </div>
</div>

<div class="container">
    <h2>Insert data movie</h2>
    <div class="row">
        <div class="row">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>